.AllLevelBox {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}
.AllLevelBox .buttons {
  margin-bottom: 1em;
}
@media (orientation: landscape) and (max-width: 1000px) {
  .AllLevelBox .buttons {
    font-size: 1em;
  }
}
