.avatar{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.avatar img{
    max-width: 100%;
    border-radius: 50%;
    top: 0;
    position: relative;
  transition: top ease 0.5s;
    
}
.avatar img:hover{
    cursor: pointer;
    top: -20px;
}