.playerCard{
    width: 100% ; 
    max-height:20%;
    display: flex ;
    justify-content: flex-start;
    box-sizing: border-box;
    
}
.avatarBox{
    max-width: 20%;
    max-height: 95%;

}
.playerCard img{
    max-width: 90%;
    max-height:90%;
    border-radius: 50%;
    object-fit: fill;
}
.playerName{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.playerCard:hover{
    cursor: pointer;
    
    background-color: #D07874;
    
    box-shadow: 3px 5px #2E3055;
    color: #2E3055;

}
.playerName h1:hover{
    color: #2E3055;
}
