.topScores{
    width:90%;
    height: 95%;
    display: flex;
    flex-direction: column;
}
.scoresList{
    width: 100%;
    height: 75%;
}


@media (orientation: landscape) and (max-width: 1000px) {
    .topScores h1 {
      font-size: var(--mobileHeadersSize);
    }
    .playerCard img {
      max-width: 50%;
    }
  }