* {
  margin: 0;
  padding: 0;
}
:root {
  --bodyFont: avengers;
  --headerFont: avengersBold;
  --headersFontColor: #fff;
  --headersFontSize: 3em;
  --bodyFontColor: #fff;
  --textShadow : 2px 2px #5076B5;
  --buttonBackGround :#2E3055 ; 
  --cursorPointer : url(/public/images/test.png);
  --backGroundImage : url(/public/images/mainBackground.jpg) ;
}
@font-face {
  font-family: avengers;
  src: url(./assets/fonts/avengeance/AVENGEANCE\ HEROIC\ AVENGER.ttf);
}
@font-face {
  font-family: avengersBold;
  src: url(./assets/fonts/avengeance/AVENGEANCE\ HEROIC\ AVENGER\ BD.ttf);
}
@font-face {
  font-family: avengersBoldItalic;
  src: url(./assets/fonts/avengeance/AVENGEANCE\ HEROIC\ AVENGER\ BI.ttf);
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-family: var(--bodyFont);
  background-image: url(/public/images/mainBackground.jpg);
  letter-spacing:0.2em;
  text-align: center;
  
}
.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContainer h1{
    color: var(--headersFontColor);
    font-size: var(--headersFontSize);
    text-shadow:var( --textShadow);
}
.buttons{
  text-decoration: none;
  text-shadow:var(--textShadow);
  color :  #fff; 
  background-color: var(--buttonBackGround);
  border: 2px solid #FADCD9;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 3px 5px #FADCD9;
  display: block;
}
.buttons:hover{
  cursor:url('/public/images/test.png'), pointer;
  background-color: #D07874;
  color: #2E3055;
  box-shadow: 3px 5px #2E3055;
}