.image1 {
  background-image: url("../../../assets/image/1.jpg");
}
.image2 {
  background-image: url("../../../assets/image/2.jpg");
}
.image3 {
  background-image: url("../../../assets/image/3.jpg");
}
.image4 {
  background-image: url("../../../assets/image/4.jpg");
}

.image5 {
  background-image: url("../../../assets/image/5.jpg");
}
.image6 {
  background-image: url("../../../assets/image/6.jpg");
}

.image7 {
  background-image: url("../../../assets/image/7.jpg");
}
.image8 {
  background-image: url("../../../assets/image/8.jpg");
}
.image9 {
  background-image: url("../../../assets/image/9.jpg");
}
.image10 {
  background-image: url("../../../assets/image/10.jpg");
}
/**-----------10------------------****/

.image11 {
  background-image: url("../../../assets/image/11.jpg");
}
.image12 {
  background-image: url("../../../assets/image/12.jpg");
}
.image13 {
  background-image: url("../../../assets/image/13.jpg");
}
.image14 {
  background-image: url("../../../assets/image/14.jpg");
}
.image15 {
  background-image: url("../../../assets/image/15.jpg");
}
.image16 {
  background-image: url("../../../assets/image/16.jpg");
}
.image17 {
  background-image: url("../../../assets/image/17.jpg");
}

.image18 {
  background-image: url("../../../assets/image/18.jpg");
}
.image19 {
  background-image: url("../../../assets/image/19.jpg");
}
.image20 {
  background-image: url("../../../assets/image/20.jpg");
}
/**-----------20------------------****/
.image21 {
  background-image: url("../../../assets/image/21.jpg");
}
.image22 {
  background-image: url("../../../assets/image/22.jpg");
}
.image23 {
  background-image: url("../../../assets/image/23.jpg");
}
.image24 {
  background-image: url("../../../assets/image/24.jpg");
}
.image25 {
  background-image: url("../../../assets/image/25.jpg");
}
.image26 {
  background-image: url("../../../assets/image/26.jpg");
}
.image27 {
  background-image: url("../../../assets/image/27.jpg");
}

.image28 {
  background-image: url("../../../assets/image/28.jpg");
}
.image29 {
  background-image: url("../../../assets/image/29.jpg");
}
.image30 {
  background-image: url("../../../assets/image/30.jpg");
}
/**-----------30------------------****/
.image31 {
  background-image: url("../../../assets/image/31.jpg");
}
.image32 {
  background-image: url("../../../assets/image/32.jpg");
}
.image33 {
  background-image: url("../../../assets/image/33.jpg");
}
.image34 {
  background-image: url("../../../assets/image/34.jpg");
}
.image35 {
  background-image: url("../../../assets/image/35.jpg");
}
.image36 {
  background-image: url("../../../assets/image/36.jpg");
}
.image37 {
  background-image: url("../../../assets/image/37.jpg");
}

.image38 {
  background-image: url("../../../assets/image/38.jpg");
}
.image39 {
  background-image: url("../../../assets/image/39.jpg");
}
.image40 {
  background-image: url("../../../assets/image/40.jpg");
}
/**-----------40------------------****/
.image41 {
  background-image: url("../../../assets/image/41.jpg");
}
.image43 {
  background-image: url("../../../assets/image/43.jpg");
}
.image43 {
  background-image: url("../../../assets/image/43.jpg");
}
.image44 {
  background-image: url("../../../assets/image/44.jpg");
}
.image45 {
  background-image: url("../../../assets/image/45.jpg");
}
.image46 {
  background-image: url("../../../assets/image/46.jpg");
}
.image47 {
  background-image: url("../../../assets/image/47.jpg");
}

.image48 {
  background-image: url("../../../assets/image/48.jpg");
}
