.oldPlayer{
    width: 70%;
    height: fit-content;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    padding:0.5em;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.playerNotFound{
    color: crimson;
}

.oldPlayer label{
    font-size:2em;
  }
  .oldPlayer input[type=text]{
      width : 100%;
      height: 50px;
  }
  .playerData{
      background-color: chartreuse;
  }
   img{
    max-width: 100%;
    border-radius: 50%;  
}