.oldPlayer {
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 0.1em;
  box-sizing: border-box;
  justify-content:start;
  align-items: center;
}
.playerInputBox {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin:1em 0;

}
.oldPlayer input[type="text"] {
  width: 90%;
  height: 50px;
  font-size: 1.5vw;
}
.playersList {
  width: 100%;
  height: 70%;
  overflow-y: auto;
}

.playerNotFound h2 {
  color: #f8d210;
}

img {
  max-width: 100%;
  border-radius: 50%;
}
